body
{
    text-align: center;
    background-color: maroon;
}
h6
{
    color:aqua
}
h1
{
    color: aqua;
}
p
{
    color:aqua
}
a
{
    text-align:justify ;
    color:aqua
}
h4
{
    color: aqua;
}